<div class="row">
	<div class="col-md-12">
		<h4>Tasks posted during last 30 days by {{requester.requesterName}}</h4>
		<table ng-table="tableParams" template-pagination="views/table/pager.html" class="table table-hover">
		    <tr ng-repeat="hitGroup in $data">
		        <td data-title="'HIT title'" sortable="'title'" class="col-md-3">
                    <a ng-href="#/HITgroup/{{hitGroup.groupId}}">{{hitGroup.title}}</a>
                </td>
                <td data-title="'Description'" class="col-md-4">{{hitGroup.description}}</td>
                <td data-title="'First posted'" class="col-md-2">{{hitGroup.firstSeen | date:'medium'}}</td>
                <td data-title="'Last seen'" class="col-md-2">{{hitGroup.lastSeen | date:'medium'}}</td>
                <td data-title="'Reward'" class="col-md-1">{{hitGroup.reward/100 | currency}}</td>
		    </tr>
	    </table>
    </div>
</div>
