<div class="row">
	<div class="search-bar">
		<form class="form-inline" role="form">
			<div class="form-group">
				<label for="searchValue">Search</label>
				<input type="text" class="form-control input-sm" id="searchValue" ng-model="searchValue">
			</div>
			<div class="form-group">
				<label for="selectedSearchFields">In fields</label>
				<select ng-model="searchField" class="form-control input-sm" id="selectedSearchFields"
					ng-options="searchField.id as searchField.value for searchField in searchFields">
				</select>
			</div>
			<button type="button" class="btn btn-default btn-sm" ng-click="search()">Search</button>
		</form>
	</div>
	
	<table ng-table="tableParams" template-pagination="views/table/pager.html" class="table table-hover">
	    <tr ng-repeat="hitGroup in $data">
	        <td data-title="'Requester name'" sortable="'requesterName'" class="col-md-2">
                <a ng-href="#/requester/{{hitGroup.requesterId}}">{{hitGroup.requesterName}}</a>
            </td>
	        <td data-title="'Title'" sortable="'title'" class="col-md-2">
                <a ng-href="#/HITgroup/{{hitGroup.id}}">{{hitGroup.title}}</a>
            </td>
	        <td data-title="'Description'" class="col-md-4">{{hitGroup.description}}</td>
            <td data-title="'Keywords'" class="col-md-2">{{hitGroup.keywords}}</td>
            <td class="col-md-2">
                <div>reward: {{hitGroup.reward/100}}</div>
                <div>time allotted: {{hitGroup.timeAllotted}}</div>
            </td>
	    </tr>
    </table>
</div>
