<div class="row">
	<!-- 
	<ul class="nav nav-pills" ng-model="activePill" pills>
	  <li class="active"><a href="" id="hitsAvailablePill" ng-click="draw('hitsChart')">HITs available</a></li>
	  <li><a href="" id="hitsPostedPill" ng-click="draw('hitGroupsChart')">HITs posted</a></li>
	</ul>
	 -->
	<table ng-table="tableParams" template-pagination="custom/pager" class="table table-hover">
	    <tr ng-repeat="requester in $data">
	    	<td data-title="'Requester name'" sortable="'requesterName'">{{requester.requesterName}}</td>
	        <td data-title="'hits'" sortable="'hits'">{{requester.hits}}</td>
	        <td data-title="'reward'" sortable="'reward'">{{requester.reward}}</td>
	    </tr>
    </table>
    
    <script type="text/ng-template" id="custom/pager">
        <ul class="pager ng-cloak">
          <li ng-repeat="page in pages"
                ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
            <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
            <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
          </li>
            <li> 
            <div class="btn-group" ng-show="params.data.length>0">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default btn-sm">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default btn-sm">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default btn-sm">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default btn-sm">100</button>
				<button type="button" class="btn btn-default btn-sm" disabled="disabled">Page {{params.page()}} of {{params.total()/params.count() | ceil}}</button>
			</div>
            </li>
        </ul>
    </script>
</div>
