<div class="row">
	<!-- 
	<ul class="nav nav-pills" ng-model="activePill" pills>
	  <li class="active"><a href="" id="hitsAvailablePill" ng-click="draw('hitsChart')">HITs available</a></li>
	  <li><a href="" id="hitsPostedPill" ng-click="draw('hitGroupsChart')">HITs posted</a></li>
	</ul>
	 -->
	<table ng-table="tableParams" template-pagination="views/table/pager.html" class="table table-hover">
	    <tr ng-repeat="requester in $data">
	        <td data-title="'Requester name'" sortable="'requesterName'" class="col-md-8"><a ng-href="#/toprequesters/{{requester.requesterId}}">{{requester.requesterName}}</a></td>
	        <td data-title="'hits'" sortable="'hits'" class="col-md-2">{{requester.hits}}</td>
	        <td data-title="'reward'" sortable="'reward'" class="col-md-2">{{requester.reward/100}}</td>
	    </tr>
    </table>
</div>
