<?xml version="1.0" encoding="utf-8"?>
<web-app
        version="2.5"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>ClearHitGroupsIndex</servlet-name>
        <servlet-class>com.tracker.servlet.task.ClearHitGroupsIndex</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClearHitGroupsIndex</servlet-name>
        <url-pattern>/clearHitGroupsIndex</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReindexHitGroups</servlet-name>
        <servlet-class>com.tracker.servlet.task.ReindexHitGroups</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReindexHitGroups</servlet-name>
        <url-pattern>/reindexHitGroups</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>CacheArrivalCompletions</servlet-name>
		<servlet-class>com.tracker.servlet.task.CacheArrivalCompletions</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CacheArrivalCompletions</servlet-name>
		<url-pattern>/cacheArrivalCompletions</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ScheduleTopRequestersComputation</servlet-name>
		<servlet-class>com.tracker.servlet.schedule.ScheduleTopRequestersComputation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScheduleTopRequestersComputation</servlet-name>
		<url-pattern>/scheduleTopRequestersComputation</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ComputeTopRequesters</servlet-name>
		<servlet-class>com.tracker.servlet.task.ComputeTopRequesters</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ComputeTopRequesters</servlet-name>
		<url-pattern>/computeTopRequesters</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ScheduleStatComputation</servlet-name>
		<servlet-class>com.tracker.servlet.schedule.ScheduleStatComputation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScheduleStatComputation</servlet-name>
		<url-pattern>/scheduleStatComputation</url-pattern>
	</servlet-mapping>
	
    <servlet>
		<servlet-name>ComputeArrivalCompletions</servlet-name>
		<servlet-class>com.tracker.servlet.task.ComputeArrivalCompletions</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ComputeArrivalCompletions</servlet-name>
		<url-pattern>/computeArrivalCompletions</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ScheduleLatestTasksPulling</servlet-name>
		<servlet-class>com.tracker.servlet.schedule.ScheduleLatestTasksPulling</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScheduleLatestTasksPulling</servlet-name>
		<url-pattern>/scheduleLatestTasksPulling</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PullLatestTasks</servlet-name>
		<servlet-class>com.tracker.servlet.task.PullLatestTasks</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PullLatestTasks</servlet-name>
		<url-pattern>/pullLatestTasks</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ScheduleHITsTracking</servlet-name>
		<servlet-class>com.tracker.servlet.schedule.ScheduleHITsTracking</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScheduleHITsTracking</servlet-name>
		<url-pattern>/scheduleHITsTracking</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TrackHITs</servlet-name>
		<servlet-class>com.tracker.servlet.task.TrackHITs</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TrackHITs</servlet-name>
		<url-pattern>/trackHits</url-pattern>
	</servlet-mapping>

    <servlet>
        <servlet-name>ScheduleExportToBigQuery</servlet-name>
        <servlet-class>com.tracker.servlet.schedule.ScheduleExportToBigQuery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScheduleExportToBigQuery</servlet-name>
        <url-pattern>/scheduleExportToBigQuery</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExportToBigQuery</servlet-name>
        <servlet-class>com.tracker.servlet.task.ExportToBigQuery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportToBigQuery</servlet-name>
        <url-pattern>/exportToBigQuery</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ComputeActiveRequesters</servlet-name>
        <servlet-class>com.tracker.servlet.task.ComputeActiveRequesters</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComputeActiveRequesters</servlet-name>
        <url-pattern>/computeActiveRequesters</url-pattern>
    </servlet-mapping>

	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
	    <servlet-name>EndpointsServlet</servlet-name>
	    <servlet-class>
	      com.google.api.server.spi.EndpointsServlet
	    </servlet-class>
	    <init-param>
	      <param-name>services</param-name>
	      <param-value>
	        com.tracker.endpoints.ArrivalCompletionsEndpoint,
	        com.tracker.endpoints.HitGroupEndpoint,
	        com.tracker.endpoints.HitInstanceEndpoint,
	        com.tracker.endpoints.MarketStatisticsEndpoint,
	        com.tracker.endpoints.RequesterEndpoint,
	        com.tracker.endpoints.HitContentEndpoint
	      </param-value>
	    </init-param>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>EndpointsServlet</servlet-name>
	    <url-pattern>/_ah/api/*</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>admin</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
</web-app>
