<?xml version="1.0" encoding="utf-8"?>
<web-app
        version="2.5"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
        
    <servlet>
		<servlet-name>ComputeArrivalCompletionsServlet</servlet-name>
		<servlet-class>com.tracker.servlet.ComputeArrivalCompletionsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ComputeArrivalCompletionsServlet</servlet-name>
		<url-pattern>/computeArrivalCompletions</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PullLatestTasksServlet</servlet-name>
		<servlet-class>com.tracker.servlet.PullLatestTasksServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PullLatestTasksServlet</servlet-name>
		<url-pattern>/pullLatestTasks</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TrackHITsServlet</servlet-name>
		<servlet-class>com.tracker.servlet.TrackHITsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TrackHITsServlet</servlet-name>
		<url-pattern>/trackHits</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
